

/* Circular Std */

@font-face {
  font-family: 'Circular-Std';
  font-style: normal;
  font-weight: 400;
  src: url(Circular/CircularStd-Book.otf);
}

@font-face {
  font-family: 'Circular-Std';
  font-style: normal;
  font-weight: 600;
  src: url(Circular/CircularStd-Bold.otf);
}

@font-face {
  font-family: 'Circular-Std';
  font-style: normal;
  font-weight: 800;
  src: url(Circular/CircularStd-Black.otf);
}
@font-face {
  font-family: 'Circular-Std';
  font-style: normal;
  font-weight: 500;
  src: url(Circular/CircularStd-Medium.otf);
}