

@media only screen and (max-width: 1024px), only screen and (max-device-width: 1024px) {

.inner_main_area .col-md-8, .inner_main_area .col-md-4 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.inner_main_area .col-md-4 {
	margin-top: 30px;
}
.buy_lives_box {
    border-radius: 40px 40px 10px 10px;
}
.buy_sec_2 {
    padding-top: 30px;
}	

	
.history_table table thead {
	display: none;
}	
.history_table table tbody td {
	display: block;
	width: 100%;
	border: none;
	position: relative;
	padding-left: 180px;
}	
.history_table table tbody tr {
	display: block;
	width: 100%;
	border-bottom: 1px solid #eeeeee;
	margin-top: 30px;
}	
.history_table table tbody td:before{
	content: "";
	position: absolute;
	top: 0px;
	left: 40px;
    font-size: 16px;
    color: #444857;
    font-weight: 700;
	padding: 20px 0px;
}
.history_table table tbody td:first-child:before{
	content: "Date";
}
.history_table table tbody td:nth-child(2):before{
	content: "Title of Order";
}
.history_table table tbody td:nth-child(3):before{
	content: "Lifes";
}
.history_table table tbody td:nth-child(4):before{
	content: "Price";
}
	
	
	
	
	
	
	
}

@media only screen and (max-width: 991px), only screen and (max-device-width: 991px) {

.site_footer{
	text-align: center;
}
.site_footer .navbar-collapse {
    padding-right: 0px;
}
.site_footer .navbar-brand{
	margin: 0 auto;
	margin-bottom: 20px;
}
.site_header .navbar-toggler-icon {
    background-image: url(../images/nav_toggle.svg);
}

}

@media only screen and (max-width: 768px), only screen and (max-device-width: 768px) {

.hero_area .col-sm-6{
	width: 100%;
}
.sitebar_area {
    width: 100%;
	padding-top: 80px;
}
.inner_main_area {
    padding: 30px 15px 30px 15px;
}
.inner_header {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
	z-index: 10000;
}
.inner_nav_brand{
	display: block;
	padding: 15px 0px;
}
.inner_header_nav{
	display: none;
}	

.inner_toggle{
	position: absolute;
	top: 20px;
	right: 15px;
	cursor: pointer;
	display: block;
}
.inner_toggle img{
	width: 40px;
	position: relative;
}	
.inner_brand{
	display: none;
}
.sitebar_area{
	top: -100vh;
	transition: 0.3s;
}
.site_nav_open .sitebar_area{
	top: 0px;
	transition: 0.3s;
}	
.inner_main_area{
	overflow: hidden;
}
.site_nav_open .inner_header{
	position: fixed;
}	

	
	
	
	
	
	
	
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
.hero_content ul li a {
    display: block;
    width: 130px;
}
.hero_content ul li a img {
    display: block;
    width: 130px;
}

.hero_content ul li{
	padding: 0;
}

.get_training_content h3 {
    font-size: 36px;
    line-height: 42px;
    text-align: center;
}
.hero_content ul{
	margin: 0 auto;
	display: block;
	width: 270px;
}
.play_area {
    padding-top: 120px;
    padding-bottom: 20px;
}
.play_icon {
    width: 90px;
	display: block !important;
	-ms-flex: 100%;
	flex: 100%;
	text-align: center;
	margin: 0 auto;
	padding-bottom: 20px;
}
.play_list .media-body {
	display: block !important;
	-ms-flex: 100%;
	flex: 100%;
	padding-left: 0px;
}
.play_list .media {
    display: block !important;
}	
.play_list{
	text-align: center;
}	
.get_training {
    padding-top: 50px;
    padding-bottom: 20px;
}	
.hero_area {
    padding-top: 30px;
}	
.hero_content h4 {
    font-size: 36px;
    line-height: 46px;
}	
.hero_img {
    text-align: left;
	padding-top: 30px;
width: 250px;
    margin: 0 auto;
}
.site_header {
    background:#33c0e9;
}
.hero_area {
    background:#33c0e9;
}	
.site_header .navbar-collapse {
    padding-left: 0px;
}	
.nav_btn{
	margin-top: 15px;
	margin-bottom: 15px;
}
.play_list {
    padding-top: 10px;
}
.video_area {
    padding-top: 30px;
}	
.creat_account_modal .modal-header {
    padding: 15px;
}	
.creat_account_modal .modal-body {
    padding: 25px 15px;
}	
.signup_btn {
    text-align: left;
}	
	
.creat_account_modal .modal-header h5 {
    font-size: 20px;
}	
.creat_account_modal .close {
    font-size: 24px;
}	
.minus, .plus{
    width: 60px;
}	
.buy_sec_2 .account_form {
    padding: 40px 25px;
}	
.account_title h4 {
    padding: 25px;
}	
.account_form .input-group-prepend, .account_form .input-group-append {
    width: 100%;
}	
.account_form .input-group-prepend input, .account_form .input-group-append input{
    border-radius: 10px;
}
.signup_btn button {
    width: 170px;
}	
.account_form_footer .signup_btn button {
	font-size: 14px;
    padding-left: 30px;
    padding-right: 30px;
}
.btn_arrow {
    margin-top: -9px;
}
.account_box .account_form {
    padding: 40px 25px;
}

.socialMediaIconsFooter{
	margin: 0 auto;
	display: block;
	margin-top: 15px;
}

.socialMediaIconsFooter ul{
width: 140px;
    padding: 0;
    margin: 0 auto;
    display: block !important;

}
.socialMediaIconFooterNone{
	margin-left: 0 !important;
}



}






