
@import url(http://fonts.googleapis.com/css?family=Asap|Courgette|Source+Sans+Pro|Open+Sans);

/*************start*************/
img {
	max-width:100%;
	display:inline-block;
}
body {
	font-family: 'Circular-Std', sans-serif;
}
h1, h2, h3, h4, h5, h6, p{
	margin:0px;
	padding:0px;
	font-weight: normal;
	line-height: 100%;
}
a:hover, a:focus{
	text-decoration:none;
}
.inner_bg{
	background: #e8f5fb;
}

/*************start*************/


/*************Header Area start*************/

.site_header{
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 100;
	padding-top: 10px;
}
.site_header .container{
	max-width: 1350px;
}
.site_header .navbar-nav .nav-link {
	font-size: 18px;
	color: #fff;
	line-height: 24px;
}
.site_header .nav-item{
	padding: 0px 10px;
}
.site_header .navbar-collapse{
	padding-left: 30px;
	padding-top: 10px;
}
.site_header .navbar-nav .nav-link i{
	margin-left: 8px;
}
.nav_btn button{
	width: 147px;
	height: 50px;
	background: #f6cd2f;
	border-radius: 50px;
	font-size: 18px;
	color: #fff;
	cursor: pointer;
}
.nav_like{
	
}
.nav_like button{
	width: 70px;
	height: 50px;
	background: #95e3f5;
	border-radius: 50px;
	font-size: 18px;
	color: #fff;
	cursor: pointer;
}
.nav_like button i{
	color: #ff1744;
	margin-left: 5px;
}


/*************Hero Area start*************/

.hero_area{
	background: url(../images/bg.jpg) bottom center #33c0e9 no-repeat;
	background-size: cover;
	padding-top: 195px;
}
.hero_area .container{
	max-width: 1024px;
	margin: 0 auto;
}
.hero_content{
	padding-top: 100px;
}
.hero_content h4{
	font-size: 45px;
	color: #fff;
	font-weight: 600;
	line-height: 60px;
}
.hero_content ul{
	margin: 0;
	padding: 0;
	padding-top: 50px;
}
.hero_content ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px 20px 0px;
}
.hero_content ul li:first-child{
	padding-left: 0px;
}
.hero_content ul li:last-child{
	padding-left: 0px;
}
.hero_content ul li a{
	display: block;
}
.hero_content ul li a img{
	max-width: 180px;
}
.hero_img{
	text-align: right;
}

/*************Video Area start*************/

.video_area{
	padding-top: 120px;
	position: relative;
	z-index: 100;
}
.video_area .col-md-4, .video_area .col-md-8{
	padding-top: 30px;
}
.video_pic{
	text-align: right;
}
.video_content{
	max-width: 250px;
}
.video_content h4{
	font-size: 45px;
	color: #444857;
	line-height: 60px;
}
.video_content p{
	font-size: 24px;
	color: #9A9B9F;
	line-height: 32px;
	padding-top: 30px;
}
.video_content a{
	display: inline-block;
	margin-top: 40px;
}

/*************Play Area start*************/

.play_area{
	padding-top: 280px;
	background: url(../images/bg-2.png) top right no-repeat;
	background-size: 100% auto;
	padding-bottom: 55px;
	margin-top: -70px;
}
.play_content{
	text-align: center;
}
.play_content h3{
	font-size: 45px;
	color: #444857;
	line-height: 60px;
}
.play_content p{
	font-size: 24px;
	color: #9A9B9F;
	line-height: 32px;
	max-width: 560px;
	margin: 0 auto;
	padding-top: 20px;
}
.play_content h5{
	font-size: 24px;
	color: #444857;
	line-height: 32px;
	padding-top: 40px;
	font-weight: 500;
}
.play_list{
	max-width: 650px;
	margin: 0 auto;
	padding-top: 70px;
}
.play_list ul{
	margin: 0;
	padding: 0;
}
.play_list ul li{
	list-style-type: none;
	margin-top: 55px;
}
.play_icon{
	width: 127px;
}
.play_list .media-body{
	padding-left: 45px;
}
.play_list p{
	max-width: 360px;
	font-size: 20px;
	color: #444857;
	line-height: 27px;
}

/*************get_training Area start*************/

.get_training{
	padding-top: 120px;
	padding-bottom: 70px;
}
.get_training_content{
	text-align: center;
}
.get_training_content h3{
	font-size: 45px;
	color: #1C9EDB;
	line-height: 60px;
	font-weight: 600;
}
.get_training_content p{
	font-size: 24px;
	color: #6B697A;
	line-height: 32px;
	padding-top: 20px;
	font-weight: 500;
}

/*************About Us Area start*************/

.aboutUs_area{
	position: relative;
	overflow: hidden;
	padding-top: 55px;
	padding-bottom: 150px;
}
.aboutUs_area .col-md-4, .aboutUs_area .col-md-8{
	padding-top: 30px;
}
.about_titles{
	max-width: 260px;
}
.about_titles h4{
	font-size: 45px;
	color: #444857;
	line-height: 60px;
	font-weight: 600;
}
.about_titles p{
	font-size: 24px;
	color: #9A9B9F;
	padding-top: 20px;
	line-height: 32px;
}
.about_content{
	
}
.about_content p{
	font-size: 20px;
	color: #444857;
	line-height: 27px;
	padding-bottom: 20px;
}
.game_bg_1{
	width: 190px;
	position: absolute;
	left: 0px;
	bottom: 50px;
	opacity: 0.1;
}
.game_bg_2{
	width: 160px;
	position: absolute;
	right: 0px;
	top: 20px;
	opacity: 0.1;
}

/*************About Us Area start*************/

.apps_area{
	padding: 90px 0px;
	background: linear-gradient(to bottom right, #1c9edb 0%, #3ccdef 100%);
	text-align: center;
}
.apps_area h2{
	font-size: 45px;
	color: #fff;
	line-height: 60px;
	font-weight: 600;
}
.apps_area ul{
	margin: 0;
	padding: 0;
	padding-top: 50px;
	text-align: center;
}
.apps_area ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px 20px 0px;
}
.apps_area ul li:first-child{
	padding-left: 0px;
}
.apps_area ul li:last-child{
	padding-left: 0px;
}
.apps_area ul li a{
	display: block;
}
.apps_area ul li a img{
	max-width: 180px;
}

/*************Footer Area start*************/

.site_footer{
	background: #030e13;
	padding: 40px 0px;
}
.site_footer .nav-link {
	font-size: 16px;
	color: #fff;
}
.site_footer .navbar-collapse{
	padding-right: 155px;
}
.site_footer .nav-item{
	padding: 0px 20px;
}

/*************creat_account_modal Area start*************/

.creat_account_modal{
	
}
.creat_account_modal .modal-dialog {
    max-width: 700px;
}
.creat_account_modal .modal-header{
	background: #159fdc;
	border-radius: 10px 10px 0px 0px;
	padding: 23px 45px;
}
.creat_account_modal .modal-header h5{
	font-size: 30px;
	color: #fff;
}
.creat_account_modal .modal-content {
	border-radius: 20px 20px 10px 10px;
}
.creat_account_modal .close {
	font-size: 36px;
	color: #fff;
	font-weight: 300;
	opacity: 1;
}
.creat_account_modal .modal-body {
	padding: 45px 60px 35px;
}
.account_form label {
	font-size: 16px;
	color: #a4a5a5;
}
.account_form .form-control{
	width: 100%;
	height: 50px;
	border: 1px solid #efefef;
	border-radius: 10px;
	padding: 10px 22px;
	font-size: 16px;
	color: #1f2542;
}
.account_form .form-control::-webkit-input-placeholder {
  color: #a4a5a5;
}
.account_form .form-control::-moz-placeholder {
  color: #a4a5a5;
}
.account_form .form-control:-ms-input-placeholder {
  color: #a4a5a5;
}
.account_form .form-control:-moz-placeholder {
  color: #a4a5a5;
}
#Date-of-Birth{
	background: url(../images/calender.png) right 15px center #fff no-repeat;
	padding-right: 15px !important;
}
.signup_btn{
	text-align: right;
}
.signup_btn button{
	width: 170px;
	height: 50px;
	background: #f6ce2b;
	font-size: 18px;
	color: #fff;
	border: 1px solid #f6ce2b;
	border-radius: 50px;
	text-align: center;
}
.signup_btn button i{
	color: #149edb;
	background: #fff;
	margin-left: 10px;
	border-radius: 50%;
}
.form_footer{
	padding-top: 20px;
}
.form_footer a{
	color: #159fdc;
}

/*************creat_account_modal Area start*************/

/*************

Sitebar

*************/

.sitebar_area{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 320px;
	height: 100vh;
	background: #1c9edb;
	padding: 30px 25px;
	z-index: 200;
}
.inner_brand{
	
}
.sitebar_nav{
	
}
.sitebar_nav ul{
	margin: 0;
	padding: 0;
	padding-top: 30px;
}
.sitebar_nav ul li{
	list-style-type: none;
}
.sitebar_nav ul li a{
	font-size: 20px;
	color: #fff;
	padding: 20px;
	border-radius: 10px;
	display: block;
}
.sitebar_nav ul li.active a{
	background: #118cc7;
	font-weight: 700;
}

/*************

Header

*************/

.inner_header{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	background: #fff;
	z-index: 100;
	padding-left: 330px;
	padding-right: 40px;
	box-shadow: 0px 0px 20px rgba(28, 158, 219, 0.14);
}
.inner_header_nav{
	padding-bottom: 15px;
}
.inner_header_nav ul{
	margin: 0;
	padding: 0;
	text-align: right;
}
.inner_header_nav ul li{
	list-style-type: none;
	padding-left: 30px;
	display: inline-block;
	padding-top: 15px;
}
.inner_header_nav ul li a{
	font-size: 20px;
	color: #444857;
}
.inner_header_nav ul li a i{
	color: #ff1744;
}
.nav_user{
	margin-left: 25px;
}

/*************

inner Body

*************/

.inner_main_area{
	padding: 140px 60px 60px 380px;
}
.inner_area_box{
	background: #fff;
	border-radius: 10px;
	box-shadow: 0px 0px 20px rgba(28, 158, 219, 0.14);
}

/************* History Page area start *************/

.history_table{
	
}
.history_table table{
	width: 100%;
	margin: 0 auto;
}
.history_table table thead td{
	font-size: 20px;
	color: #444857;
	font-weight: 700;
	padding: 35px 45px 25px;
}
.history_table table td{
	padding: 20px 45px;
	border-bottom: 1px solid #eeeeee;
}
.history_table table tbody td{
	font-size: 16px;
	color: #A3A4A3;
}
.history_table table tbody tr:last-child td{
	border: none;
}

/************* Account Page area start *************/

.account_box{
	max-width: 780px;
	margin: 0 auto;
	background: #fff;
	border-radius: 10px;
	box-shadow: 0px 0px 20px rgba(28, 158, 219, 0.14);
}
.account_title{
	
}
.account_title h4{
	font-size: 20px;
	color: #444857;
	line-height: 27px;
	font-weight: 600;
	padding: 25px 50px;
	border-bottom: 1px solid #eeeeee;
}
.account_box .account_form{
	padding: 50px 50px;
}
.account_box .account_form .form-group {
    margin-bottom: 30px;
}
.account_form_footer .signup_btn{
	text-align: center;
}
.account_form_footer .signup_btn button{
	width: 100%;
	max-width: 300px;
	position: relative;
	padding-left: 50px;
	padding-right: 50px;
}
.account_form_footer .signup_btn button{
	width: 100%;
	max-width: 300px;
	position: relative;
	padding-left: 50px;
	padding-right: 50px;
}
.btn_arrow{
	display: block;
	position: absolute;
	top: 50%;
	right: 24px;
	margin-top: -12px;
}


/************* Buy Page area start *************/

.buy_main_box{
	max-width: 850px;
	margin: 0 auto;
}
.buy_sec_1{
	
}
.buy_sec_1 .row{
	margin: 0px -22px;
}
.buy_sec_1 .col-md-5, .buy_sec_1 .col-md-7{
	padding: 0px 22px;
}
.buy_purchase_box{
	width: 100%;
	height: 425px;
	background: #fff;
	border-radius: 10px;
	box-shadow: 0px 0px 20px rgba(28, 158, 219, 0.14);
	padding: 100px 25px;
	text-align: center;
}
.buy_purchase_box h4{
	font-size: 20px;
	color: #444857;
}

.number{
	margin-top: 65px;
}
.number span{
}
.minus{
	width:70px;
	height:72px;
	background:#fff;
	border-radius: 10px 0px 0px 10px;
	line-height: 70px;
	border:1px solid #eeeeee;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	margin-right: -5px;
	position: relative;
	z-index: 100;
	font-size: 32px;
	color: #222222;
	font-weight: 700;
}
.plus{
	width:70px;
	height:72px;
	background:#fff;
	border-radius: 0px 10px 10px 0px;
	line-height: 70px;
	border:1px solid #eeeeee;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	margin-left: -5px;
	position: relative;
	z-index: 100;
	font-size: 32px;
	color: #222222;
	font-weight: 700;
}
.number input{
	height:72px;
	width: 125px;
	text-align: center;
	font-size: 26px;
	border-radius:4px;
	display: inline-block;
	vertical-align: middle;
	border: none;
	border-top:1px solid #eeeeee;
	border-bottom:1px solid #eeeeee;
	color: #222222;
	font-weight: 700;
	background: url(../images/life.png) right 35px center no-repeat;
	background-size: 24px;
	padding-right: 35px;
}			
.buy_lives_box{
	width: 100%;
	height: 425px;
	background: #fff;
	border-radius: 10px;
	box-shadow: 0px 0px 20px rgba(28, 158, 219, 0.14);
}
.buy_lives_top{
	background: url(../images/bg-dashboard.png) top center no-repeat;
	background-size: cover;
	height: 244px;
	border-radius: 10px 10px 0px 0px;
	overflow: hidden;
	position: relative;
	text-align: center;
	padding-top: 50px;
}
.buy_lives_top:before{
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	width: 600px;
	height: 500px;
	border-radius: 50%;
	background: #fff;
	margin-left: -300px;
	margin-top: -50px;
}
.buy_lives_top h4{
	font-size: 30px; 
	color: #fff;
}
.buy_lives_top h3{
	font-size: 40px;
	color: #fff;
	font-weight: 700;
	line-height: 53px;
	padding-top: 20px;
}
.buy_lives_bottom{
	text-align: center;
	padding-top: 40px;
}
.buy_lives_bottom h3{
	font-size: 40px;
	color: #444857;
	font-weight: 40px;
	font-weight: 700;
}
.buy_lives_bottom p{
	font-size: 20px;
	color: #A3A4A3;
	line-height: 27px;
	padding-top: 10px;
}
.buy_sec_2{
	padding-top: 44px;
}
.buy_payment_box{
	width: 100%;
	background: #fff;
	border-radius: 10px;
	box-shadow: 0px 0px 20px rgba(28, 158, 219, 0.14);
}
.buy_sec_2 .account_form{
	padding: 50px;
}
.buy_sec_2 .account_form input{
	margin-top: 10px;
}
 .account_form .input-group-prepend,  .account_form .input-group-append{
	width: 50%;
}
 .account_form .input-group-prepend input{
	 border-radius: 10px 0px 0px 10px;
}
 .account_form .input-group-append input{
	 border-radius: 0px 10px 10px 0px;
}
.buy_sec_2 .account_form .form-group{
	margin-bottom: 30px;
}

/************* Buy Page area start *************/

.logut_modal{
	text-align: center;
}
.logut_modal .modal-content {
	padding: 50px 0px;
	border-radius: 10px;
}
.logout_title{
	
}
.logout_title h5{
	font-size: 20px;
	color: #444857;
	font-weight: 600;
}
.logout_title p{
	font-size: 20px;
	color: #444857;
	padding-top: 45px;
	padding-bottom: 35px;
}
.logout_btns{
	
}
.logout_cancle{
	width: 152px;
	height: 52px;
	border: 2px solid #a4a4a4;
	font-size: 16px;
	color: #A3A4A3;
	text-align: center;
	border-radius: 50px;
	background: #fff;
	margin: 10px 10px 0px;
}
.logout_log{
	width: 152px;
	height: 52px;
	border: 2px solid #f6cd2f;
	font-size: 16px;
	color: #fff;
	text-align: center;
	border-radius: 50px;
	background: #f6cd2f;
	margin: 10px 10px 0px;
}
.form_purchase_lives{
	padding: 50px;
	border-bottom: 1px solid #eaedf3;
}
.form_purchase_lives p{
	font-size: 20px;
	color: #A3A4A3;
}
.form_purchase_lives p span{
	float: right;
}
.summary_modal .modal-body {
	padding: 0;
	padding-bottom: 60px;
}
.summary_modal .modal-content{
	border-radius: 10px;
}
.form_purchase_total{
	padding: 35px 50px 50px;
}
.form_purchase_total p{
	font-size: 20px;
	color: #444857;
}
.form_purchase_total p span{
	float: right;
}
.payment_secured{
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
}
.payment_secured p{
	font-size: 14px;
	color: #fff;
	line-height: 20px;
}
.inner_toggle{
	
}
.inner_toggle{
	display: none;
}





.inner_nav_brand{
	display: none;
}

.socialMediaIconsFooter{
	margin-top: 10px;
}

.socialMediaIconFooter{
	display: inline-block;
	color: white;
	font-size: 25px;
	margin-left: 15px;
}

.socialMediaIconFooter a{
	color: white;
}

.socialMediaIconFooter a:hover{
	color: #2BB4E4;
	transition: 0.3s;
	cursor: pointer;
}






/*************end*************/